<%- include('../template/header')-%>
<body>
     <%- include('../template/nav')-%> 
      <h3 class="airing-today">Movies Airing Today</h3>
    <div class="airing"></div>
    <%- include('../template/footer')-%>
    <script src="js/main.js"></script>
</body>