<%- include('../template/header')-%>
<body>
    <%- include('../template/nav')-%>
    <h3 class="popular-movies">Popular Movies Today</h3>
    <div class="popular">
    </div>
    <%- include('../template/footer')-%>
    <script src="js/main.js"></script>
</body>