<footer>
    <div class="image">
        <!-- <a href="/"> -->
            <img src="img/logo-audencia-2.png" alt="">
        <!-- </a> -->
    <a href="#">Hello User</a>
    </div>
    <div class="footer">
        <h3>The Basic</h3>
        <ul>
            <li >
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">
                    Contact Us
                </a>
            </li>
            <li>
                <a href="#">Supported Forums</a>
            </li>
            <li>
                <a href="#">
                    System Status
                </a>
            </li>
        </ul>
    </div>
    <div class="footer">
        <h3>The Basic</h3>
        <ul>
            <li >
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">
                    Contact Us
                </a>
            </li>
            <li>
                <a href="#">Supported Forums</a>
            </li>
            <li>
                <a href="#">
                    System Status
                </a>
            </li>
        </ul>
    </div>
    <div class="footer">
        <h3>The Basic</h3>
        <ul>
            <li >
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">
                    Contact Us
                </a>
            </li>
            <li>
                <a href="#">Supported Forums</a>
            </li>
            <li>
                <a href="#">
                    System Status
                </a>
            </li>
        </ul>
    </div>
    <div class="footer">
        <h3>The Basic</h3>
        <ul>
            <li >
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">
                    Contact Us
                </a>
            </li>
            <li>
                <a href="#">Supported Forums</a>
            </li>
            <li>
                <a href="#">
                    System Status
                </a>
            </li>
        </ul>
     </div>
</div>

</footer>