<div id="container">
    <div class="container box">
        <div class="img" >
            <a href="/">
                <img src="img/logo-audencia-2.png" alt="">
            </a>
            
        </div>
        <div class="shows">
            <a href="/airing" id="airing">Airing Today</a>
           <a href="/popular" id="popular">Popular Show</a>
           <a href="/onair"  id="onair">On-Air</a>
        </div>
        <div class="search">
            <input type="text" id="search" name="search" placeholder="Search For Movies">
            <button>Search</button>
        </div>
        
    </div>